# Price Data Processing

## Analyze

Loading data...

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import datetime

DATA_FOLDER = "data/recordings/poloniex/"

csvs = [f for f in os.listdir(DATA_FOLDER) if f.endswith(".csv")]

all_series = dict()
for csv in csvs:
    p = os.path.join(DATA_FOLDER, csv)
    s = pd.read_csv(p, index_col='timestamp')
    s.index = pd.to_datetime(s.index, unit='s')
    all_series[csv[:-4]] = s

Print histograms for all high, low and closing prices

In [7]:
for n in all_series:
    s = all_series[n]
    plt.figure(figsize=(15, 6))
    plt.subplot(1, 3, 1).set_title(n)
    _ = s["high"].hist()
    plt.subplot(1, 3, 2).set_title("low")
    _ = s["low"].hist()
    plt.subplot(1, 3, 3).set_title("close")
    _ = s["close"].hist()
    plt.show()

Any missing data?

In [14]:
for n in all_series:
    print(all_series[n].isna().where(lambda x: x == True).count())

open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64
open               0
high               0
low                0
close              0
volume             0
quoteVolume        0
weightedAverage    0
dtype: int64

### Problems
Found the following problematic data sets:
* BTC_ZEC seems to have a unreasonable large value at the start
* BTC_GNT has a very high "high" price of 0.02 somewhere in the data set
* BTC_ETH has a shifted histogram of the "high" prices

Describing data sets

In [9]:
all_series["BTC_ZEC"].describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>quoteVolume</th>
      <th>weightedAverage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3.201300e+04</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.506488e+09</td>
      <td>0.229043</td>
      <td>0.326667</td>
      <td>0.090594</td>
      <td>0.150861</td>
      <td>19.762768</td>
      <td>296.837116</td>
      <td>0.123018</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.663470e+07</td>
      <td>16.545349</td>
      <td>24.983040</td>
      <td>1.530495</td>
      <td>8.907074</td>
      <td>68.360628</td>
      <td>755.722842</td>
      <td>5.248673</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.477678e+09</td>
      <td>0.016570</td>
      <td>0.017062</td>
      <td>0.016559</td>
      <td>0.016570</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.016735</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.492083e+09</td>
      <td>0.030934</td>
      <td>0.031071</td>
      <td>0.030813</td>
      <td>0.030936</td>
      <td>2.250785</td>
      <td>57.211432</td>
      <td>0.030950</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.506488e+09</td>
      <td>0.042590</td>
      <td>0.042940</td>
      <td>0.042296</td>
      <td>0.042600</td>
      <td>6.873579</td>
      <td>136.889102</td>
      <td>0.042609</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.520894e+09</td>
      <td>0.059337</td>
      <td>0.059930</td>
      <td>0.059000</td>
      <td>0.059385</td>
      <td>18.192289</td>
      <td>313.181690</td>
      <td>0.059393</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.535299e+09</td>
      <td>2500.000000</td>
      <td>3300.000000</td>
      <td>260.000000</td>
      <td>1510.000000</td>
      <td>5510.903511</td>
      <td>48779.018015</td>
      <td>906.552755</td>
    </tr>
  </tbody>
</table>
</div>

### Possible Solutions:
* BTC_ZEC: extreme high prices at the start, consider replacing with different coin
* BTC_GNT: one value in "high" is 0.02 -> remove
* BTC_ETH: one value in "high" is 50 -> remove

## Processing Data

Implementing solutions and preparing the data.

In [15]:
PROCESSED_DIR = "processed"
processed_path = os.path.join(DATA_FOLDER, PROCESSED_DIR)

#### BTC_ZEC

In [16]:
all_series["BTC_ZEC"]["high"] = all_series["BTC_ZEC"]["high"].apply(lambda x: None if x > 100 else x)
all_series["BTC_ZEC"]["low"] = all_series["BTC_ZEC"]["low"].apply(lambda x: None if x > 100 else x)
all_series["BTC_ZEC"]["close"] = all_series["BTC_ZEC"]["close"].apply(lambda x: None if x > 100 else x)
all_series["BTC_ZEC"].bfill()
all_series["BTC_ZEC"].describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>quoteVolume</th>
      <th>weightedAverage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>32013.000000</td>
      <td>31731.000000</td>
      <td>31743.000000</td>
      <td>31739.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
      <td>32013.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.229043</td>
      <td>0.056571</td>
      <td>0.055787</td>
      <td>0.056152</td>
      <td>19.762768</td>
      <td>296.837116</td>
      <td>0.123018</td>
    </tr>
    <tr>
      <th>std</th>
      <td>16.545349</td>
      <td>0.063738</td>
      <td>0.062999</td>
      <td>0.063458</td>
      <td>68.360628</td>
      <td>755.722842</td>
      <td>5.248673</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.016570</td>
      <td>0.017062</td>
      <td>0.016559</td>
      <td>0.016570</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.016735</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.030934</td>
      <td>0.031015</td>
      <td>0.030761</td>
      <td>0.030880</td>
      <td>2.250785</td>
      <td>57.211432</td>
      <td>0.030950</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.042590</td>
      <td>0.042633</td>
      <td>0.042082</td>
      <td>0.042330</td>
      <td>6.873579</td>
      <td>136.889102</td>
      <td>0.042609</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.059337</td>
      <td>0.059200</td>
      <td>0.058466</td>
      <td>0.058762</td>
      <td>18.192289</td>
      <td>313.181690</td>
      <td>0.059393</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2500.000000</td>
      <td>0.999900</td>
      <td>0.995000</td>
      <td>0.989000</td>
      <td>5510.903511</td>
      <td>48779.018015</td>
      <td>906.552755</td>
    </tr>
  </tbody>
</table>
</div>

#### BTC_GNT

In [17]:
all_series["BTC_GNT"]["high"] = all_series["BTC_GNT"]["high"].\
    apply(lambda x: None if x > 0.01 else x)
all_series["BTC_GNT"] = all_series["BTC_GNT"].bfill()
all_series["BTC_GNT"].describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>quoteVolume</th>
      <th>weightedAverage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>53495.000000</td>
      <td>24783.000000</td>
      <td>53495.000000</td>
      <td>53495.000000</td>
      <td>53495.000000</td>
      <td>53495.000000</td>
      <td>53495.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.040753</td>
      <td>0.007620</td>
      <td>0.039587</td>
      <td>0.039818</td>
      <td>273.511039</td>
      <td>10686.633361</td>
      <td>0.039813</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.218386</td>
      <td>0.003218</td>
      <td>0.031976</td>
      <td>0.032147</td>
      <td>592.132751</td>
      <td>22243.997893</td>
      <td>0.032142</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.001470</td>
      <td>0.001575</td>
      <td>0.001370</td>
      <td>0.001470</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.001441</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.012088</td>
      <td>0.003928</td>
      <td>0.012005</td>
      <td>0.012097</td>
      <td>20.791485</td>
      <td>941.110889</td>
      <td>0.012084</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.026802</td>
      <td>0.009985</td>
      <td>0.026550</td>
      <td>0.026811</td>
      <td>81.596487</td>
      <td>3561.118455</td>
      <td>0.026823</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.069660</td>
      <td>0.009985</td>
      <td>0.069396</td>
      <td>0.069643</td>
      <td>262.291944</td>
      <td>10590.330798</td>
      <td>0.069632</td>
    </tr>
    <tr>
      <th>max</th>
      <td>50.000000</td>
      <td>0.010000</td>
      <td>0.148300</td>
      <td>0.150200</td>
      <td>17839.228595</td>
      <td>603486.652446</td>
      <td>0.150363</td>
    </tr>
  </tbody>
</table>
</div>

#### BTC_ETH

In [18]:
all_series["BTC_ETH"]["high"] = all_series["BTC_ETH"]["high"].\
    apply(lambda x: None if x > 1 else x)
all_series["BTC_ETH"] = all_series["BTC_ETH"].bfill()
all_series["BTC_ETH"].describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>quoteVolume</th>
      <th>weightedAverage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>26618.000000</td>
      <td>26618.000000</td>
      <td>26618.000000</td>
      <td>26618.000000</td>
      <td>26618.000000</td>
      <td>2.661800e+04</td>
      <td>26618.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.000069</td>
      <td>0.000069</td>
      <td>0.000067</td>
      <td>0.000068</td>
      <td>13.168069</td>
      <td>1.456714e+05</td>
      <td>0.000068</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.000132</td>
      <td>0.000132</td>
      <td>0.000049</td>
      <td>0.000049</td>
      <td>46.122418</td>
      <td>4.369128e+05</td>
      <td>0.000049</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000015</td>
      <td>0.000015</td>
      <td>0.000015</td>
      <td>0.000015</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>0.000015</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.000033</td>
      <td>0.000034</td>
      <td>0.000033</td>
      <td>0.000033</td>
      <td>0.390655</td>
      <td>9.354299e+03</td>
      <td>0.000033</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000055</td>
      <td>0.000055</td>
      <td>0.000054</td>
      <td>0.000055</td>
      <td>1.807242</td>
      <td>3.861787e+04</td>
      <td>0.000055</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.000076</td>
      <td>0.000077</td>
      <td>0.000076</td>
      <td>0.000076</td>
      <td>8.959891</td>
      <td>1.266713e+05</td>
      <td>0.000076</td>
    </tr>
    <tr>
      <th>max</th>
      <td>0.020000</td>
      <td>0.020000</td>
      <td>0.000272</td>
      <td>0.000275</td>
      <td>2613.749372</td>
      <td>2.768122e+07</td>
      <td>0.000275</td>
    </tr>
  </tbody>
</table>
</div>

### Alignment

Truncate to common last time stamp

In [19]:
last_ts = datetime.datetime.now()
for n in all_series:
    if all_series[n].index.max() < last_ts:
        last_ts = all_series[n].index.max() 
        
for n in all_series:
    all_series[n] = all_series[n][:last_ts]

Align all date frames to common length

In [20]:
max_len = 0
longest_series = "None found!"
for n in all_series:
    l = all_series[n].count()[0]
    if l > max_len:
        max_len = l
        longest_series = n

for n in all_series:
    l = all_series[n].count()[0]
    if l < max_len:
        all_series[n] = all_series[n].align(all_series[longest_series], method='bfill')[0]
        
print("Max len: {0}".format(max_len))
print(longest_series)

Max len: 55333
BTC_DASH

Print counts and make sure they are all the same

In [21]:
for n in all_series:
    cnt = all_series[n].count()[0]
    print(cnt)
    print(cnt == max_len)
    
    ts = all_series[n].index.max()
    print(ts)
    print(ts == last_ts)

55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True
55333
True
2018-08-26 16:00:00
True

### Export

In [23]:
for n in all_series:
    all_series[n].to_csv(os.path.join(processed_path, (n + ".csv")))